/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.wrap {
  width: 100%;
  background: #F2F2F2;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container::after {
  display: block;
  clear: both;
  content: "";
}

.header {
  background: #000;
  color: #fff;
}

.header::after {
  display: block;
  clear: both;
  content: "";
}

.header .logo {
  float: left;
  margin-left: 42px;
  padding: 20px 0;
  font-weight: bold;
}

.header .menu {
  float: left;
  margin-left: 80px;
  text-align: center;
}

.header .menu li {
  display: inline-block;
  margin-right: 18px;
}

.header .menu li a {
  width: 80px;
  display: inline-block;
  color: #9B9B9B;
  font-weight: bold;
  padding: 25px 0;
  border-bottom: 4px solid transparent;
}

.header .menu li a:hover, .header .menu li a.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.header .user {
  float: right;
  padding: 25px 0;
  margin-right: 42px;
  font-weight: bold;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.overview-title::after {
  display: block;
  clear: both;
  content: "";
}

.overview-title h2 {
  float: left;
  margin-left: 42px;
}

.overview-title .period {
  float: right;
  margin-right: 42px;
}

.overview-title .period span {
  color: #9B9B9B;
}

.overview-title .period span.change-period {
  margin-left: 20px;
}

.overview-title .period i {
  color: #000;
  padding: 0 8px;
}

.income {
  margin: 20px 42px;
  text-align: center;
}

.income li {
  display: inline-block;
  width: 31.6%;
  max-height: 138px;
  vertical-align: top;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 0;
}

.income li:nth-child(2) {
  margin: 0 2%;
}

.income li .title i {
  margin-right: 8px;
}

.income li .amount {
  font-size: 36px;
  margin-top: 16px;
  font-weight: bold;
}

.income li .amount.one {
  color: #7ED321;
}

.income li .amount.two {
  color: #D0021B;
}

.income li .amount.three {
  color: #4A90E2;
}

.activity {
  margin: 0 42px 20px 42px;
  height: auto;
  padding: 30px 40px;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
}

.website {
  float: left;
  margin-left: 42px;
  width: 45%;
  height: 456px;
  margin-right: 0.4%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
}

.website .website-list {
  margin-top: 6px;
}

.website .website-list li {
  border-bottom: 1px solid #EBEBEB;
  padding: 24px 0;
}

.website .website-list li:last-child {
  border: none;
}

.website .website-list li span {
  display: inline-block;
  vertical-align: middle;
}

.website .website-list li span.site {
  color: #9B9B9B;
  width: 170px;
  margin-left: 20px;
}

.website .website-list li span.amount {
  font-weight: bold;
  text-align: right;
  width: 60px;
  font-size: 20px;
  margin-right: 20px;
}

.website .website-list li span.up {
  color: #7ED321;
}

.website .website-list li span.down {
  color: #D0021B;
}

.website .website-list li i {
  display: inline-block;
  vertical-align: middle;
}

.website .website-list li i.big {
  font-size: 40px;
  width: 45px;
}

.latest {
  float: right;
  margin-right: 42px;
  width: 45%;
  height: 456px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
}

.latest .order-list {
  margin-top: 22px;
}

.latest .order-list li {
  position: relative;
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0;
}

.latest .order-list li::after {
  display: block;
  clear: both;
  content: "";
}

.latest .order-list li:last-child {
  border: none;
}

.latest .order-list li .pic {
  float: left;
  margin-right: 20px;
}

.latest .order-list li .txt {
  float: left;
}

.latest .order-list li .txt h3 {
  margin-top: 10px;
}

.latest .order-list li .txt span {
  display: block;
  margin: 8px 0;
  color: #9B9B9B;
}

.latest .order-list li .txt span i {
  width: 16px;
  text-align: center;
}

.latest .order-list li .total {
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 14px;
  text-align: right;
  line-height: 1.5;
}

.latest .order-list li .total .amount {
  font-size: 20px;
  font-weight: bold;
}
