/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  font-size: 0;
}

li {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border;
  -webkit-box-sizing: border-box;
}

.green {
  background: #7ED321;
  border: 1px solid #7ED321;
}

.blue {
  background: #4A90E2;
  border: 1px solid #4A90E2;
}

.orange {
  background: #F5A623;
  border: 1px solid #F5A623;
}

.gray {
  background: #9B9B9B;
  border: 1px solid #9B9B9B;
}

*,
body {
  font-family: "Helvetica", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
}

button:focus {
  outline: none;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.wrap {
  width: 100%;
  background: #F2F2F2;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.container::after {
  display: block;
  clear: both;
  content: "";
}

.header {
  background: #000;
  color: #fff;
}

.header::after {
  display: block;
  clear: both;
  content: "";
}

.header .logo {
  float: left;
  margin-left: 42px;
  padding: 20px 0;
  font-weight: bold;
}

.header .menu {
  float: left;
  margin-left: 80px;
  text-align: center;
}

.header .menu li {
  display: inline-block;
  margin-right: 18px;
}

.header .menu li a {
  width: 80px;
  display: inline-block;
  color: #9B9B9B;
  font-weight: bold;
  padding: 25px 0;
  border-bottom: 4px solid transparent;
}

.header .menu li a:hover, .header .menu li a.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.header .user {
  float: right;
  padding: 25px 0;
  margin-right: 42px;
  font-weight: bold;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.overview-title {
  height: 30px;
  line-height: 30px;
}

.overview-title::after {
  display: block;
  clear: both;
  content: "";
}

.overview-title h2 {
  float: left;
  margin-left: 42px;
}

.overview-title .period {
  float: right;
  margin-right: 42px;
}

.overview-title .period::after {
  display: block;
  clear: both;
  content: "";
}

.overview-title .period span {
  color: #9B9B9B;
}

.overview-title .period .date {
  float: left;
  margin-right: 20px;
}

.overview-title .period .date i {
  margin: 0 4px;
}

.overview-title .period .change {
  float: left;
  position: relative;
  cursor: pointer;
}

.overview-title .period .change i {
  margin-left: 4px;
}

.overview-title .period .change:hover .change-period {
  display: block;
}

.overview-title .period .change .change-period {
  position: absolute;
  top: 100%;
  right: 0;
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  width: 125px;
  text-align: center;
  display: none;
}

.overview-title .period .change .change-period li {
  height: 35px;
  line-height: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.overview-title .period .change .change-period li:hover, .overview-title .period .change .change-period li.active {
  color: #fff;
  background: #000000;
}

.income {
  margin: 20px 42px;
  text-align: center;
}

.income li {
  display: inline-block;
  width: 32%;
  max-height: 138px;
  vertical-align: top;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 0;
}

.income li:nth-child(2) {
  margin: 0 2%;
}

.income li .title i {
  margin-right: 8px;
  font-size: 20px;
}

.income li .amount {
  font-size: 36px;
  margin-top: 16px;
  font-weight: bold;
}

.income li .amount.one {
  color: #7ED321;
}

.income li .amount.two {
  color: #D0021B;
}

.income li .amount.three {
  color: #4A90E2;
}

.activity {
  margin: 0 42px 20px 42px;
  height: auto;
  padding: 30px 40px;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
}

.website {
  float: left;
  margin-left: 42px;
  width: 45%;
  height: 456px;
  margin-right: 0.4%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
}

.website .website-list {
  margin-top: 6px;
}

.website .website-list li {
  border-bottom: 1px solid #EBEBEB;
  padding: 24px 0;
}

.website .website-list li:last-child {
  border: none;
}

.website .website-list li span {
  display: inline-block;
  vertical-align: middle;
}

.website .website-list li span.site {
  color: #9B9B9B;
  width: 145px;
}

.website .website-list li span.amount {
  font-weight: bold;
  text-align: right;
  width: 60px;
  font-size: 20px;
}

.website .website-list li span.up {
  color: #7ED321;
  width: 60px;
  margin-left: 16px;
  cursor: pointer;
}

.website .website-list li span.down {
  color: #D0021B;
  width: 60px;
  margin-left: 16px;
  cursor: pointer;
}

.website .website-list li i {
  display: inline-block;
  vertical-align: middle;
}

.website .website-list li i.big {
  font-size: 40px;
  width: 55px;
}

.latest {
  float: right;
  margin-right: 42px;
  width: 45%;
  height: 456px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
}

.latest .order-list {
  margin-top: 22px;
}

.latest .order-list li {
  position: relative;
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0;
}

.latest .order-list li::after {
  display: block;
  clear: both;
  content: "";
}

.latest .order-list li:last-child {
  border: none;
}

.latest .order-list li .pic {
  float: left;
  margin-right: 20px;
}

.latest .order-list li .info {
  float: left;
}

.latest .order-list li .info h3 {
  margin-top: 10px;
}

.latest .order-list li .info span {
  display: block;
  margin: 8px 0;
  color: #9B9B9B;
}

.latest .order-list li .info span i {
  width: 16px;
  text-align: center;
}

.latest .order-list li .total {
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 14px;
  text-align: right;
  line-height: 1.5;
}

.latest .order-list li .total .amount {
  font-size: 20px;
  font-weight: bold;
}

.order {
  background: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.order-top {
  margin: 0 42px;
}

.order-top::after {
  display: block;
  clear: both;
  content: "";
}

.order-top .check-product {
  float: left;
  position: relative;
}

.order-top .check-product > i {
  position: absolute;
  top: -2px;
  right: -14px;
}

.order-top .edit {
  float: right;
}

.order-top .edit .editbtn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.order-list {
  width: 94%;
  margin: 15px auto;
  border-radius: 2px;
  line-height: 1.5;
}

.order-list thead {
  background: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.order-list thead tr th {
  padding: 15px 20px;
}

.order-list tbody {
  font-size: 14px;
}

.order-list tbody tr:nth-child(2n) {
  background: #EBEBEB;
}

.order-list tbody tr td {
  padding: 20px;
}

.order-status .change {
  display: inline-block;
  position: relative;
  height: 40px;
}

.order-status .change:hover .change-status {
  display: block;
}

.order-status .change .orderbtn {
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.order-status .change .change-status {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: #fff;
  color: #000;
  text-align: center;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  cursor: pointer;
  display: none;
}

.order-status .change .change-status li {
  padding: 8px 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.order-status .change .change-status li:hover {
  color: #fff;
  background: #000;
}

.product {
  padding-top: 30px;
  padding-bottom: 45px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + span {
  background: #000;
}

.checkbox input[type="checkbox"]:checked + span i {
  display: inline-block;
  color: #fff;
}

.checkbox span {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
}

.checkbox span i {
  display: none;
  font-size: 13px;
}

.product-top {
  margin: 0 42px;
  height: 35px;
}

.product-top::after {
  display: block;
  clear: both;
  content: "";
}

.product-top .check-product {
  float: left;
  position: relative;
  margin-top: 17px;
}

.product-top .check-product > i {
  position: absolute;
  top: -2px;
  right: -14px;
}

.product-top .add-product {
  float: right;
}

.addbtn {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
}

.product-list {
  width: 94%;
  margin: 15px auto;
  border-radius: 2px;
}

.product-list thead {
  background: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.product-list thead tr th {
  padding: 15px 20px;
}

.product-list tbody tr:nth-child(2n) {
  background: #EBEBEB;
}

.product-list tbody tr td {
  padding: 20px;
}

.table-product {
  position: relative;
}

.table-product * {
  display: inline-block;
  vertical-align: middle;
}

.table-product span {
  background: #ffffff;
  border: none;
}

.table-product .pic {
  margin-left: 8px;
  margin-right: 8px;
}

.table-groups li {
  padding: 8px 0;
  line-height: 1.5;
}

.table-groups li * {
  display: inline-block;
  vertical-align: top;
}

.table-groups li:nth-child(2) {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.table-groups li .size {
  width: 90px;
}

.table-groups li .color {
  width: 100px;
}

.table-status {
  position: relative;
}

.table-status .change {
  position: absolute;
  right: 0;
  bottom: 25px;
  height: 40px;
}

.table-status .change:hover .change-status {
  display: block;
}

.table-status .change .publishbtn {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  color: #fff;
  background: #7ED321;
  border: 1px solid #7ED321;
  border-radius: 4px;
  cursor: pointer;
}

.table-status .change .publishbtn.un {
  background: #9B9B9B;
  border: 1px solid #9B9B9B;
}

.table-status .change .change-status {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 11;
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  display: none;
}

.table-status .change .change-status li {
  padding: 10px 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.table-status .change .change-status li:hover {
  color: #fff;
  background: #000000;
}

.add-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.add-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}

.add-box .main {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 90px;
  margin-left: -470px;
  width: 940px;
  height: 700px;
  background: #FFFFFF;
  border-radius: 4px;
  overflow: auto;
}

.add-box .main .title {
  background-color: #000;
  color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 20px 35px;
}

.add-box .main .title::after {
  display: block;
  clear: both;
  content: "";
}

.add-box .main .title h2 {
  float: left;
}

.add-box .main .title .icon-cancel {
  float: right;
  cursor: pointer;
  font-size: 22.08px;
}

.add-box .main .content {
  padding-left: 30px;
  padding-right: 30px;
}

.add-box .main .content::after {
  display: block;
  clear: both;
  content: "";
}

.add-box .main .content .image {
  float: left;
  width: calc(50% - 30px);
  margin-right: 30px;
}

.add-box .main .content .image .uploadbtn {
  padding: 25px 45px;
  margin-bottom: 10px;
  background: #EBEBEB;
  text-align: center;
  color: #757575;
  font-weight: bold;
  cursor: pointer;
}

.add-box .main .content .image .uploadbtn i {
  font-size: 48px;
  margin-bottom: 10px;
}

.add-box .main .content .image .upload img {
  margin-bottom: 8px;
  vertical-align: top;
}

.add-box .main .content .image .upload img:nth-child(3n-1) {
  margin-left: 7px;
  margin-right: 7px;
}

.add-box .main .content .other {
  float: right;
  width: 50%;
}

.add-box .main .content .other h4 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.add-box .main .content .other h4:first-child {
  margin-top: 0;
}

.add-box .main .content .other .name,
.add-box .main .content .other .description {
  display: block;
  padding: 10px 16px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.add-box .main .content .other .description {
  height: 170px;
  margin-top: 8px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  resize: none;
}

.add-box .main .content .other .price {
  width: 90%;
}

.add-box .main .content .other .price::after {
  display: block;
  clear: both;
  content: "";
}

.add-box .main .content .other .price label {
  float: left;
  width: 49%;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background: #EBEBEB;
  padding-left: 8px;
  height: 35px;
  line-height: 35px;
}

.add-box .main .content .other .price label:nth-child(2) {
  margin-left: 2%;
}

.add-box .main .content .other .price input {
  float: right;
  width: 50%;
  border: none;
  background: #fff;
  text-align: right;
  padding: 7px 16px;
  border-radius: 0 4px 4px 0;
}

.add-box .main .content .other .price input:focus {
  outline: none;
}

.add-box .main .content .other .specification {
  width: 100%;
}

.add-box .main .content .other .specification::after {
  display: block;
  clear: both;
  content: "";
}

.add-box .main .content .other .specification label {
  float: left;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background: #EBEBEB;
  padding-left: 8px;
  margin-bottom: 8px;
  height: 35px;
  line-height: 35px;
}

.add-box .main .content .other .specification label:nth-child(3n+1) {
  width: 29%;
}

.add-box .main .content .other .specification label:nth-child(3n-1) {
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.add-box .main .content .other .specification label:nth-child(3n) {
  width: 38%;
}

.add-box .main .content .other .specification input,
.add-box .main .content .other .specification select {
  float: right;
  width: 50%;
  border: none;
  background: #fff;
  text-align: right;
  padding: 7px 12px;
  border-radius: 0 4px 4px 0;
}

.add-box .main .content .other .specification input:focus,
.add-box .main .content .other .specification select:focus {
  outline: none;
}

.add-box .main .content .other .new-label {
  margin-top: 8px;
}

.add-box .main .content .other .new-label .addbtn {
  width: 100%;
}

.add-box .main .content .other .save {
  margin-top: 30px;
  text-align: right;
}

.add-box .main .content .other .save .savebtn {
  color: #757575;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}
