@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  font-size: 0;
}

li {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border;
  -webkit-box-sizing: border-box;
}

.green {
  background: #7ED321;
  border: 1px solid #7ED321;
}

.blue {
  background: #4A90E2;
  border: 1px solid #4A90E2;
}

.orange {
  background: #F5A623;
  border: 1px solid #F5A623;
}

.gray {
  color: #9B9B9B;
}

* {
  font-family: "Helvetica", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
}

body {
  font-family: "Helvetica", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  height: 100%;
  background: #F2F2F2;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
  cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label:before, input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:before {
  position: absolute;
  top: 0;
  left: 1px;
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

button {
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.wrap {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.container::after {
  display: block;
  clear: both;
  content: "";
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header {
  background: #000;
  color: #fff;
  position: relative;
}

.header::after {
  display: block;
  clear: both;
  content: "";
}

.header .logo {
  float: left;
  margin-left: 42px;
  padding: 20px 0;
  font-weight: bold;
}

@media (max-width: 414px) {
  .header .logo {
    float: none;
    margin-left: 0;
  }
}

.header .menu {
  float: left;
  margin-left: 80px;
  text-align: center;
}

@media (max-width: 414px) {
  .header .menu {
    float: none;
    margin: 0 auto;
  }
}

.header .menu li {
  display: inline-block;
  margin-right: 18px;
}

.header .menu li a {
  width: 80px;
  display: inline-block;
  color: #9B9B9B;
  font-weight: bold;
  padding: 25px 0;
  border-bottom: 4px solid transparent;
}

.header .menu li a:hover, .header .menu li a.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.header .user {
  float: right;
  padding: 25px 0;
  margin-right: 42px;
  font-weight: bold;
}

@media (max-width: 414px) {
  .header .user {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.overview-top {
  height: 30px;
  line-height: 30px;
}

.overview-top::after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 414px) {
  .overview-top {
    height: auto;
    line-height: 1;
  }
}

.overview-top h2 {
  float: left;
  margin-left: 42px;
}

@media (max-width: 414px) {
  .overview-top h2 {
    float: none;
    margin-left: 0;
  }
}

.change-data {
  float: right;
  margin-right: 42px;
}

.change-data::after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 414px) {
  .change-data {
    float: none;
    margin: 10px 0;
  }
}

.change-data .change-data-date {
  float: left;
  margin-right: 20px;
  color: #9B9B9B;
}

.change-data .change-data-date i {
  margin: 0 4px;
  color: #000;
}

.change-data .change-data-period {
  float: left;
}

.change-data .change-data-period select {
  display: none;
}

.change-data .change-data-period .period-select {
  position: relative;
}

.change-data .change-data-period .period-select.opened .custom-period-options {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.change-data .change-data-period .period-select .custom-period-trigger {
  display: block;
  width: 70px;
  color: #9B9B9B;
  cursor: pointer;
}

.change-data .change-data-period .period-select .custom-period-trigger:after {
  content: '\f0d7';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  color: #000;
}

.change-data .change-data-period .period-select .custom-period-options {
  position: absolute;
  right: 0;
  top: 30px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  pointer-events: none;
}

.change-data .change-data-period .period-select .custom-period-options .custom-period-option {
  text-align: center;
  display: block;
  padding: 8px 45px;
  cursor: pointer;
}

.change-data .change-data-period .period-select .custom-period-options .custom-period-option:hover {
  background: #000;
  color: #fff;
}

.overview-list {
  margin: 20px 42px;
  text-align: center;
}

@media (max-width: 414px) {
  .overview-list {
    margin: 0;
  }
}

.overview-list li {
  display: inline-block;
  width: 32%;
  max-height: 138px;
  vertical-align: top;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 0;
}

@media (max-width: 414px) {
  .overview-list li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.overview-list li:nth-child(2) {
  margin: 0 2%;
}

@media (max-width: 414px) {
  .overview-list li:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.overview-list li .title i {
  margin-right: 8px;
  font-size: 20px;
}

.overview-list li .amount {
  font-size: 36px;
  margin-top: 16px;
  font-weight: bold;
}

.overview-list li .amount.one {
  color: #7ED321;
}

.overview-list li .amount.two {
  color: #D0021B;
}

.overview-list li .amount.three {
  color: #4A90E2;
}

.activity-chart {
  margin: 0 42px 20px 42px;
  height: auto;
  padding: 30px 40px;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
}

@media (max-width: 414px) {
  .activity-chart {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

.website-block {
  float: left;
  margin-left: 42px;
  margin-right: 0.4%;
  width: 45%;
  height: 456px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
}

@media (max-width: 960px) {
  .website-block {
    float: none;
    width: auto;
    margin-right: 42px;
    margin-bottom: 20px;
  }
}

@media (max-width: 414px) {
  .website-block {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    height: auto;
  }
}

.website-block .website-list {
  margin-top: 6px;
}

.website-block .website-list li {
  border-bottom: 1px solid #EBEBEB;
  padding: 24px 0;
}

.website-block .website-list li:last-child {
  border: none;
}

@media (max-width: 960px) {
  .website-block .website-list li:last-child::after {
    display: block;
    clear: both;
    content: "";
  }
}

.website-block .website-list li span {
  display: inline-block;
  vertical-align: middle;
}

.website-block .website-list li span.site {
  color: #9B9B9B;
  width: 145px;
}

.website-block .website-list li span.amount {
  font-weight: bold;
  text-align: right;
  width: 60px;
  font-size: 20px;
}

@media (max-width: 960px) {
  .website-block .website-list li span.amount {
    width: 25%;
  }
}

@media (max-width: 414px) {
  .website-block .website-list li span.amount {
    text-align: left;
    display: block;
    margin-top: 15px;
  }
}

.website-block .website-list li span.up {
  color: #7ED321;
  width: 60px;
  margin-left: 16px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .website-block .website-list li span.up {
    float: right;
    width: auto;
  }
}

.website-block .website-list li span.down {
  color: #D0021B;
  width: 60px;
  margin-left: 16px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .website-block .website-list li span.down {
    float: right;
    width: auto;
  }
}

.website-block .website-list li i {
  display: inline-block;
  vertical-align: middle;
}

.website-block .website-list li i.big {
  font-size: 40px;
  width: 55px;
}

.latest-orders-block {
  float: right;
  margin-right: 42px;
  width: 45%;
  height: 456px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px 5px #EBEBEB;
          box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
}

@media (max-width: 960px) {
  .latest-orders-block {
    float: none;
    width: auto;
    margin-left: 42px;
  }
}

@media (max-width: 414px) {
  .latest-orders-block {
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }
}

.latest-orders-block .latest-orders-list {
  margin-top: 22px;
}

.latest-orders-block .latest-orders-list li {
  position: relative;
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0;
}

.latest-orders-block .latest-orders-list li::after {
  display: block;
  clear: both;
  content: "";
}

.latest-orders-block .latest-orders-list li:last-child {
  border: none;
}

.latest-orders-block .latest-orders-list li .pic {
  float: left;
  margin-right: 20px;
}

@media (max-width: 414px) {
  .latest-orders-block .latest-orders-list li .pic {
    float: none;
    margin-right: 0;
    text-align: center;
  }
}

.latest-orders-block .latest-orders-list li .info {
  float: left;
}

@media (max-width: 960px) {
  .latest-orders-block .latest-orders-list li .info {
    width: 50%;
  }
}

@media (max-width: 414px) {
  .latest-orders-block .latest-orders-list li .info {
    float: none;
    width: auto;
  }
}

.latest-orders-block .latest-orders-list li .info h3 {
  margin-top: 10px;
}

.latest-orders-block .latest-orders-list li .info span {
  display: block;
  margin: 4px 0;
  color: #9B9B9B;
  line-height: 1.5;
}

.latest-orders-block .latest-orders-list li .info span i {
  width: 16px;
  text-align: center;
}

.latest-orders-block .latest-orders-list li .total {
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 14px;
  text-align: right;
  line-height: 1.5;
}

.latest-orders-block .latest-orders-list li .total .amount {
  font-size: 20px;
  font-weight: bold;
}

.orders-view {
  background: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.orders-view-top {
  margin: 0 42px;
}

.orders-view-top::after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 768px) {
  .orders-view-top {
    margin: 0;
  }
}

.orders-view-top .check-orders {
  float: left;
  position: relative;
}

.orders-view-top .check-orders input[type="checkbox"]:not(:checked) + label:before, .orders-view-top .check-orders input[type="checkbox"]:checked + label:before {
  border: 1px solid #000;
}

.orders-view-top .check-orders input[type="checkbox"]:checked + label:before {
  background: #000;
  color: #fff;
}

.orders-view-top .orders-tag {
  float: left;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.orders-event-select {
  float: left;
  position: relative;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  width: 125px;
  z-index: 10;
}

.orders-event-select.opened .orders-event-options {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.orders-event-select .orders-event-trigger {
  display: block;
  cursor: pointer;
}

.orders-event-select .orders-event-trigger:before {
  content: '\f0d7';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #000;
  top: 0;
  left: 3px;
}

.orders-event-select .orders-event-options {
  position: absolute;
  left: 0;
  top: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  pointer-events: none;
}

.orders-event-select .orders-event-options .orders-event-option {
  display: block;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.orders-event-select .orders-event-options .orders-event-option:hover {
  background: #000;
  color: #fff;
}

.edit-section-select {
  float: right;
  position: relative;
}

@media (max-width: 768px) {
  .edit-section-select {
    display: none;
  }
}

.edit-section-select.opened .edit-section-options {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.edit-section-select .edit-section-trigger {
  color: #000;
  font-weight: bold;
  background: none;
}

.edit-section-select .edit-section-options {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  z-index: 11;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  pointer-events: none;
}

.edit-section-select .edit-section-options .edit-section-option {
  display: block;
  padding: 12px 20px;
  width: 150px;
}

.edit-section-select .edit-section-options .edit-section-option:hover {
  background: #000;
  color: #fff;
}

.check-section {
  position: relative;
}

.orders-list {
  width: 94%;
  margin: 15px auto;
  border-radius: 2px;
  line-height: 1.5;
  font-size: 14px;
  overflow: hidden;
}

.orders-list thead {
  font-size: 16px;
  background: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.orders-list thead tr th {
  padding: 15px 20px;
}

@media (max-width: 768px) {
  .orders-list thead tr th {
    display: none;
  }
}

.orders-list tbody tr:nth-child(2n) {
  background: #EBEBEB;
}

.orders-list tbody tr td {
  padding: 20px;
}

@media (max-width: 768px) {
  .orders-list tbody tr td {
    display: block;
    padding: 10px;
  }
  .orders-list tbody tr td:before {
    content: attr(data-title) "：";
    display: inline-block;
    font-weight: bold;
  }
}

.orders-customer .check-per-order {
  position: relative;
}

.orders-customer .check-per-order input[type="checkbox"]:not(:checked) + label:before, .orders-customer .check-per-order input[type="checkbox"]:checked + label:before {
  background: #fff;
  text-align: center;
  line-height: 16px;
}

.orders-customer .check-per-order input[type="checkbox"]:checked + label:before {
  background: #9B9B9B;
  color: #fff;
}

.orders-customer .customer-name {
  display: block;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.orders-product-list li {
  font-size: 14px;
  border-bottom: 1px solid #FFFFFF;
  line-height: 2;
}

.orders-product-list li::after {
  display: block;
  clear: both;
  content: "";
}

.orders-product-list li:last-child {
  border-bottom: none;
}

.orders-product-list li span:first-child {
  display: block;
}

.orders-product-list li .num {
  float: right;
}

.orders-status .orders-status-select {
  position: relative;
}

.orders-status .orders-status-select.opened .orders-status-options {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.orders-status .orders-status-select .orders-status-trigger {
  position: relative;
  background: #7ED321;
  text-transform: uppercase;
  padding: 8px 28px 8px 18px;
}

.orders-status .orders-status-select .orders-status-trigger:after {
  content: '\f0d7';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 15px;
}

.orders-status .orders-status-select .orders-status-options {
  z-index: 10;
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  pointer-events: none;
}

.orders-status .orders-status-select .orders-status-options .orders-status-option {
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 10px 30px;
  color: #000;
}

.orders-status .orders-status-select .orders-status-options .orders-status-option:hover {
  background: #000;
  color: #fff;
}

.pagination {
  text-align: right;
  margin-right: 42px;
}

@media (max-width: 414px) {
  .pagination {
    margin: 0 auto;
    text-align: center;
  }
}

.pagination a {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #fff;
  color: #000;
}

@media (max-width: 414px) {
  .pagination a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.pagination a:hover, .pagination a.active {
  background: #000;
  color: #fff;
}

.product {
  padding-top: 30px;
  padding-bottom: 45px;
}

.product-top {
  margin: 0 42px;
  height: 35px;
}

.product-top::after {
  display: block;
  clear: both;
  content: "";
}

.product-top .check-product {
  float: left;
  position: relative;
}

.product-top .check-product input[type="checkbox"]:not(:checked) + label:before, .product-top .check-product input[type="checkbox"]:checked + label:before {
  border: 1px solid #000;
}

.product-top .check-product input[type="checkbox"]:checked + label:before {
  background: #000;
  color: #fff;
}

.product-top .check-product i {
  position: absolute;
  left: 23px;
  top: -3px;
}

.product-top .add-product {
  float: right;
}

.addbtn {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
}

.products-list {
  width: 94%;
  margin: 15px auto;
  border-radius: 2px;
  font-size: 14px;
}

.products-list thead {
  background: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

.products-list thead tr th {
  padding: 15px 20px;
}

@media (max-width: 768px) {
  .products-list thead tr th {
    display: none;
  }
}

.products-list tbody tr:nth-child(2n) {
  background: #EBEBEB;
}

.products-list tbody tr td {
  padding: 20px;
}

@media (max-width: 768px) {
  .products-list tbody tr td {
    display: block;
    padding: 10px;
  }
  .products-list tbody tr td:before {
    display: inline-block;
    content: attr(data-title) "：";
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.products-product .check-per-product {
  position: relative;
}

.products-product .check-per-product input[type="checkbox"] {
  top: 17px;
}

.products-product .check-per-product input[type="checkbox"]:not(:checked) + label:before, .products-product .check-per-product input[type="checkbox"]:checked + label:before {
  background: #fff;
  text-align: center;
  line-height: 16px;
  top: 17px;
}

.products-product .check-per-product input[type="checkbox"]:checked + label:before {
  background: #9B9B9B;
  color: #fff;
}

.products-product .picText {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.products-product .picText img {
  vertical-align: middle;
  margin-right: 8px;
}

.table-groups li {
  padding: 8px 0;
  line-height: 1.5;
}

.table-groups li * {
  display: inline-block;
  vertical-align: top;
}

.table-groups li:nth-child(2) {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.table-groups li .size {
  width: 90px;
}

.table-groups li .color {
  width: 100px;
}

.products-status .products-status-select {
  position: relative;
}

.products-status .products-status-select.opened .products-status-options {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.products-status .products-status-select .products-status-trigger {
  position: relative;
  background: #7ED321;
  text-transform: uppercase;
  padding: 8px 28px 8px 18px;
}

.products-status .products-status-select .products-status-trigger:after {
  content: '\f0d7';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  right: 15px;
}

.products-status .products-status-select .products-status-options {
  z-index: 10;
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  pointer-events: none;
}

.products-status .products-status-select .products-status-options .products-status-option {
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 10px 15px;
  color: #000;
}

.products-status .products-status-select .products-status-options .products-status-option:hover {
  background: #000;
  color: #fff;
}

.products-status {
  position: relative;
}

.products-status .change {
  position: absolute;
  right: 0;
  bottom: 25px;
  height: 40px;
}

.products-status .change:hover .change-status {
  display: block;
}

.products-status .change .publishbtn {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  color: #fff;
  background: #7ED321;
  border: 1px solid #7ED321;
  border-radius: 4px;
  cursor: pointer;
}

.products-status .change .publishbtn.un {
  background: #9B9B9B;
  border: 1px solid #9B9B9B;
}

.products-status .change .change-status {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 11;
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
          box-shadow: 1px 2px 10px 0 #9B9B9B;
  border-radius: 2px;
  display: none;
}

.products-status .change .change-status li {
  padding: 10px 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.products-status .change .change-status li:hover {
  color: #fff;
  background: #000000;
}

.add-new-product {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-new-product .back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.add-new-product .main {
  position: relative;
  margin: 100px auto;
  max-width: 940px;
  max-height: 700px;
  background: #FFFFFF;
  border-radius: 4px;
  overflow: auto;
}

@media (max-width: 414px) {
  .add-new-product .main {
    margin: 0 auto;
    max-height: 667px;
  }
}

.add-new-product .main .title {
  background-color: #000;
  color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 20px 35px;
}

.add-new-product .main .title::after {
  display: block;
  clear: both;
  content: "";
}

.add-new-product .main .title h2 {
  float: left;
}

.add-new-product .main .title .close-icon {
  float: right;
  cursor: pointer;
  font-size: 22.08px;
}

.add-new-product .main .content {
  padding-left: 30px;
  padding-right: 30px;
}

.add-new-product .main .content::after {
  display: block;
  clear: both;
  content: "";
}

.add-new-product .main .content .upload-image {
  float: left;
  width: calc(50% - 30px);
  margin-right: 30px;
}

@media (max-width: 768px) {
  .add-new-product .main .content .upload-image {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

.add-new-product .main .content .upload-image .uploadBtn {
  display: block;
  padding: 25px 45px;
  margin-bottom: 10px;
  background: #EBEBEB;
  text-align: center;
  color: #757575;
  font-weight: bold;
  cursor: pointer;
}

.add-new-product .main .content .upload-image .uploadBtn input {
  display: none;
}

.add-new-product .main .content .upload-image .uploadBtn i {
  font-size: 48px;
  margin-bottom: 10px;
}

.add-new-product .main .content .upload-image .images-list::after {
  display: block;
  clear: both;
  content: "";
}

.add-new-product .main .content .upload-image .images-list li {
  float: left;
  margin-bottom: 8px;
  margin-right: 10px;
}

.add-new-product .main .content .upload-image .images-list li:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 768px) {
  .add-new-product .main .content .upload-image .images-list li:nth-child(3n) {
    margin-right: 10px;
  }
}

.add-new-product .main .content .write-info {
  float: right;
  width: 50%;
}

@media (max-width: 768px) {
  .add-new-product .main .content .write-info {
    float: none;
    width: 100%;
  }
}

.add-new-product .main .content .write-info h4 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.add-new-product .main .content .write-info h4:first-child {
  margin-top: 0;
}

.add-new-product .main .content .write-info .info-name,
.add-new-product .main .content .write-info .info-description {
  display: block;
  padding: 10px 16px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.add-new-product .main .content .write-info .info-description {
  height: 170px;
  margin-top: 8px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.add-new-product .main .content .write-info .info-price {
  width: 100%;
}

.add-new-product .main .content .write-info .info-price .orig-price,
.add-new-product .main .content .write-info .info-price .disc-price {
  position: relative;
  display: inline-block;
  width: 40%;
}

@media (max-width: 414px) {
  .add-new-product .main .content .write-info .info-price .orig-price,
  .add-new-product .main .content .write-info .info-price .disc-price {
    width: 100%;
    margin-bottom: 10px;
  }
}

.add-new-product .main .content .write-info .info-price .orig-price label,
.add-new-product .main .content .write-info .info-price .disc-price label {
  position: absolute;
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #EBEBEB;
  border-radius: 4px 0 0 4px;
}

.add-new-product .main .content .write-info .info-price .orig-price input,
.add-new-product .main .content .write-info .info-price .disc-price input {
  padding-left: 85px;
  padding-right: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 100%;
  height: 38px;
  line-height: 38px;
}

.add-new-product .main .content .write-info .info-price .orig-price input:focus,
.add-new-product .main .content .write-info .info-price .disc-price input:focus {
  outline: none;
}

.add-new-product .main .content .write-info .info-specification {
  width: 100%;
}

.add-new-product .main .content .write-info .info-specification .spec-groups {
  margin-bottom: 10px;
}

.add-new-product .main .content .write-info .info-specification .spec-groups::after {
  display: block;
  clear: both;
  content: "";
}

.add-new-product .main .content .write-info .info-specification .spec-size {
  width: 28%;
}

@media (max-width: 414px) {
  .add-new-product .main .content .write-info .info-specification .spec-size {
    width: 100%;
  }
}

.add-new-product .main .content .write-info .info-specification .spec-size select {
  width: 50%;
  height: 38px;
  line-height: 38px;
  text-align: right;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  margin-left: 60px;
  padding-left: 8px;
}

@media (max-width: 768px) {
  .add-new-product .main .content .write-info .info-specification .spec-size select {
    width: 70%;
  }
}

@media (max-width: 414px) {
  .add-new-product .main .content .write-info .info-specification .spec-size select {
    margin-left: 20px;
  }
}

.add-new-product .main .content .write-info .info-specification .spec-size select:focus {
  outline: none;
}

.add-new-product .main .content .write-info .info-specification .spec-color {
  width: 34%;
}

@media (max-width: 414px) {
  .add-new-product .main .content .write-info .info-specification .spec-color {
    width: 100%;
  }
}

.add-new-product .main .content .write-info .info-specification .spec-inventory {
  width: 34%;
}

@media (max-width: 414px) {
  .add-new-product .main .content .write-info .info-specification .spec-inventory {
    width: 100%;
  }
}

.add-new-product .main .content .write-info .info-specification .spec-size,
.add-new-product .main .content .write-info .info-specification .spec-color,
.add-new-product .main .content .write-info .info-specification .spec-inventory {
  position: relative;
  float: left;
  margin: 0 2px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 10px;
}

.add-new-product .main .content .write-info .info-specification .spec-size label,
.add-new-product .main .content .write-info .info-specification .spec-color label,
.add-new-product .main .content .write-info .info-specification .spec-inventory label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 16px;
  background: #EBEBEB;
  border-radius: 4px 0 0 4px;
}

.add-new-product .main .content .write-info .info-specification .spec-size input,
.add-new-product .main .content .write-info .info-specification .spec-color input,
.add-new-product .main .content .write-info .info-specification .spec-inventory input {
  padding-left: 85px;
  padding-right: 16px;
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: right;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

@media (max-width: 414px) {
  .add-new-product .main .content .write-info .info-specification .spec-size input,
  .add-new-product .main .content .write-info .info-specification .spec-color input,
  .add-new-product .main .content .write-info .info-specification .spec-inventory input {
    width: 70%;
    margin-left: 20px;
  }
}

.add-new-product .main .content .write-info .info-specification .spec-size input:focus,
.add-new-product .main .content .write-info .info-specification .spec-color input:focus,
.add-new-product .main .content .write-info .info-specification .spec-inventory input:focus {
  outline: none;
}

.add-new-product .main .content .write-info .new-label {
  margin-top: 8px;
}

.add-new-product .main .content .write-info .new-label .addbtn {
  width: 100%;
}

.add-new-product .main .content .write-info .save {
  margin-top: 30px;
  text-align: right;
}

.add-new-product .main .content .write-info .save .savebtn {
  color: #757575;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}
