@import "clearfix";
@import "reset";
@import "box-sizing";

$font-family: "Helvetica", "Microsoft JhengHei", sans-serif;
$font-size: 16px;

$distancX: 42px;

$bg-color: #F2F2F2;
$green: #7ED321;
$red: #D0021B;
$blue: #4A90E2;
$orange: #F5A623;
$gray: #9B9B9B;

.green {
  background: $green;
  border: 1px solid $green;
}

.blue {
  background: $blue;
  border: 1px solid $blue;
}

.orange {
  background: $orange;
  border: 1px solid $orange;
}

.gray {
  color: $gray;
}


body {
  font-family: $font-family;
  font-size: $font-size;
  height: 100%;
  background: $bg-color;
}

h1 {
  font-size: $font-size * 1.5;
}

h2 {
  font-size: $font-size * 1.5;
  font-weight: bold;
}

h3 {
  font-size: $font-size * 1.25;
  font-weight: bold;
}

h4 {
  font-size: $font-size;
  font-weight: bold;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  &:not(:checked),
  &:checked {
    + label {
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 2px;
      }
    }
  }
  &:checked {
    + label {
      &:before {
        position: absolute;
        top: 0;
        left: 1px;
        content: '\f00c';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
  }
}

button {
  font-size: $font-size;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
  &:focus {
  outline: none;
  }
}

.wrap {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  @include clearfix;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

// INDEX

.header {
  background: #000;
  color: #fff;
  @include clearfix;
  .logo {
    float: left;
    margin-left: $distancX;
    padding: 20px 0;
    font-weight: bold;
  }
  .menu {
    float: left;
    margin-left: 80px;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 18px;
      a {
        width: 80px;
        display: inline-block;
        color:#9B9B9B;
        font-weight: bold;
        padding: 25px 0;
        border-bottom: 4px solid transparent;
        &:hover,
        &.active {
          color: #fff;
          border-bottom: 4px solid #fff;
        }
      }
    }
  }
  .user {
    float: right;
    padding: 25px 0;
    margin-right: $distancX;
    font-weight: bold;
  }
}

.overview-top {
  height: 30px;
  line-height: 30px;
  @include clearfix;
  h2 {
    float: left;
    margin-left: $distancX;
  }
}

// 更改圖表區間
.change-data {
  float: right;
  margin-right: $distancX;
  @include clearfix;
  // 日期
  .change-data-date {
    float: left;
    margin-right: 20px;
    color: #9B9B9B;
    i {
      margin: 0 4px;
      color: #000;
    }
  }
  // 週期
  .change-data-period {
    float: left;
    select {
      display: none;
    }
    .period-select {
      position: relative;
      &.opened {
        .custom-period-options {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          pointer-events: all;
        }
      }
      .custom-period-trigger {
        display: block;
        width: 70px;
        color: #9B9B9B;
        cursor: pointer;
        &:after {
          content: '\f0d7';
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          right: 0;
          color: #000;
        }
      }
      .custom-period-options {
        position: absolute;
        right: 0;
        top: 30px;
        background: #fff;
        box-shadow: 1px 2px 10px 0 #9B9B9B;
        border-radius: 2px; 
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-15px);
        pointer-events: none;
        .custom-period-option {
          text-align: center;
          display: block;
          padding: 8px 45px;
          cursor: pointer;
          &:hover {
            background: #000;
            color: #fff;
          }
        }
      }
    }
  }
}

.overview-list {
  margin: 20px $distancX;
  text-align: center;
  li {
    display: inline-block;
    width: 32%;
    max-height: 138px;
    vertical-align: top;
    background: #fff;
    box-shadow: 0 0 10px 5px #EBEBEB;
    border-radius: 3px;
    padding: 30px 0;
    &:nth-child(2) {
      margin: 0 2%;
    }
    .title {
      i {
        margin-right: 8px;
        font-size: 20px;
      }
    }
    .amount {
      font-size: $font-size * 2.25;
      margin-top: 16px;
      font-weight: bold;
      &.one {
        color: $green
      }
      &.two {
        color: $red;
      }
      &.three {
        color: $blue;
      }
    }
  }
}

// 圖表
.activity-chart {
  margin: 0 $distancX 20px $distancX;
  height: auto;
  padding: 30px 40px;
  background: #FFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px; 
}

// 購買平台
.website-block {
  float: left;
  margin-left: $distancX;
  width: 45%;
  height: 456px;
  margin-right: 0.4%;
  background: #FFFFFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
  .website-list {
    margin-top: 6px;
    li {
      border-bottom: 1px solid #EBEBEB;
      padding: 24px 0;
      &:last-child {
        border: none;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        &.site {
          color: #9B9B9B;
          width: 145px;
        }
        &.amount {
          font-weight: bold;
          text-align: right;
          width: 60px;
          font-size: $font-size * 1.25;
        }
        &.up {
          color: $green;
          width: 60px;
          margin-left: 16px;
          cursor: pointer;
        }
        &.down {
          color: $red;
          width: 60px;
          margin-left: 16px;
          cursor: pointer;
        }
      }
      i {
        display: inline-block;
        vertical-align: middle;
        &.big {
          font-size: $font-size * 2.5;
          width: 55px;
        }
      }
    }
  }
}

// 最新訂單
.latest-orders-block {
  float: right;
  margin-right: $distancX;
  width: 45%;
  height: 456px;
  background: #FFFFFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
  .latest-orders-list {
    margin-top: 22px;
    li {
      position: relative;
      border-bottom: 1px solid #EBEBEB;
      padding: 8px 0;
      @include clearfix;
      &:last-child {
        border: none;
      }
      .pic {
        float: left;
        margin-right: 20px;
      }
      .info {
        float: left;
        h3 {
          margin-top: 10px;
        }
        span {
          display: block;
          margin: 4px 0;
          color: #9B9B9B;
          i {
            width: 16px;
            text-align: center;
          }
        }
      }
      .total {
        position: absolute;
        bottom: 30px;
        right: 0;
        font-size: 14px;
        text-align: right;
        line-height: 1.5;
        .amount {
          font-size: $font-size * 1.25;
          font-weight: bold;
        }
      }
    }
  }
}

// ORDERS
.orders-view {
  background: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.orders-view-top {
  margin: 0 $distancX;
  @include clearfix;
  .check-product {
    float: left;
    position: relative;
    input[type="checkbox"] {
      &:not(:checked),
      &:checked {
        + label {
          &:before {
            border: 1px solid #000;
          }
        }
      }
      &:checked {
        + label {
          &:before {
            background: #000;
            color: #fff;
          }
        }
      }
    }
  }
}

// 多筆訂單狀態選單
.product-event-select {
  float: left;
  position: relative;
  transform: translateX(20px);
  width: 125px;
  z-index: 10;
  &.opened {
    .prodoct-event-options {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
  .prodoct-event-trigger {
    display: block;
    cursor: pointer;
    &:before {
      content: '\f0d7';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      color: #000;
      top: 0;
      left: 3px;
    }
  }
  .prodoct-event-options {
    position: absolute;
    left: 0;
    top: 20px;
    background: #fff;
    box-shadow: 1px 2px 10px 0 #9B9B9B;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
    .product-event-option {
      display: block;
      padding: 10px 20px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}

// 選擇訂單表格顯示欄位
.edit-section-select {
  float: right;
  position: relative;
  &.opened {
    .edit-section-options {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
  .edit-section-trigger {
    color: #000;
    font-weight: bold;
    background: none;
  }
  .edit-section-options {
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff;
    box-shadow: 1px 2px 10px 0 $gray;
    border-radius: 2px;
    z-index: 11;
    cursor: pointer;
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
    .edit-section-option {
      display: block;
      padding: 12px 20px;
      width: 150px;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}

.check-section {
  position: relative;
}

// 訂單表格
.order-list {
  width: 94%;
  margin: 15px auto;
  border-radius: 2px;
  line-height: 1.5;
  font-size: 14px;
  thead {
    font-size: 16px;
    background: #FFFFFF;
    font-weight: bold;
    text-align: left;
    tr {
      th {
        padding: 15px 20px;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(2n) {
        background: #EBEBEB;
      }
      td {
        padding: 20px;
      }
    }
  }
}

// 訂購者姓名
.orders-customer {
  .check-per-product {
    position: relative;
    input[type="checkbox"] {
      &:not(:checked),
      &:checked {
        + label {
          &:before {
            background: #fff;
            text-align: center;
            line-height: 16px;
          }
        }
      }
      &:checked {
        + label {
          &:before {
            background: $gray;
            color: #fff;
          }
        }
      }
    }
  }
  .custom-name {
    display: block;
    transform: translateX(22px);
  }
}

// 購買商品列表
.orders-product-list {
  li {
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF;
    line-height: 2;
    @include clearfix;
    &:last-child {
      border-bottom: none;
    }
    .num {
      float: right;
    }
  }
}

// 訂單狀態
.orders-status {
  .orders-status-select {
    position: relative;
    &.opened {
      .orders-status-options {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
      }
    }
    .orders-status-trigger {
      position: relative;
      background: $green;
      text-transform: uppercase;
      padding: 8px 28px 8px 18px;
      &:after {
      content: '\f0d7';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      right: 15px;
      }
    }
    .orders-status-options {
      z-index: 10;
      position: absolute;
      top: 40px;
      left: 0;
      background: #fff;
      box-shadow: 1px 2px 10px 0 $gray;
      border-radius: 2px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      opacity: 0;
      transform: translateY(-15px);
      pointer-events: none;
      .orders-status-option {
        display: block;
        text-align: center;
        font-size: $font-size;
        padding: 10px 30px;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}

// PRODUCT

.product {
  padding-top: 30px;
  padding-bottom: 45px;
}

.product-top {
  margin: 0 $distancX;
  height: 35px;
  @include clearfix;
  .check-product {
    float: left;
    position: relative;
    margin-top: 17px;
    > i {
      position: absolute;
      top: -2px;
      right: -14px;
    }
  }
  .add-product {
    float: right;
  }
}

.addbtn {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
}

.product-list {
  width: 94%;
  margin: 15px auto;
  border-radius: 2px;
  thead {
    background: #FFFFFF;
    font-weight: bold;
    text-align: left;
    tr {
      th {
        padding: 15px 20px;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(2n) {
          background: #EBEBEB;
        }
      td {
        padding: 20px;
      }
    }
  }
}

.table-product {
  position: relative;
  * {
    display: inline-block; 
    vertical-align: middle;
  }
  span {
    background: #ffffff;
    border: none;
  }
  .pic {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.table-groups {
  li {
    padding: 8px 0;
    line-height: 1.5;
    * {
      display: inline-block;
      vertical-align: top;
    }
    &:nth-child(2) {
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
    }
    .size {
      width: 90px;
    }
    .color {
      width: 100px;
    }
  }
}

.table-status {
  position: relative;
  .change {
    position: absolute;
    right: 0;
    bottom: 25px;
    height: 40px;
    &:hover {
      .change-status {
        display: block;
      }
    }
      .publishbtn {
      font-size: 14px;
      font-weight: bold;
      padding: 8px 16px;
      color: #fff;
      background: $green;
      border: 1px solid $green;
      border-radius: 4px;
      cursor: pointer;
      &.un {
        background: #9B9B9B;
        border: 1px solid #9B9B9B;
      }
    }
    .change-status {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 11;
      color: #000000;
      background: #ffffff;
      box-shadow: 1px 2px 10px 0 #9B9B9B;
      border-radius: 2px;
      display: none;
      li {
        padding: 10px 16px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: #fff;
          background: #000000;
        }
      }
    }
  }
}

// 新增商品表單

.add-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1;
  }
  .main {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 90px;
    margin-left: -470px;
    width: 940px;
    height: 700px;
    background: #FFFFFF;
    border-radius: 4px;
    overflow: auto;
    .title {
      background-color: #000;
      color: #fff;
      border-radius: 4px 4px 0 0;
      padding: 20px 35px;
      @include clearfix;
      h2 {
        float: left;
      }
      .icon-cancel {
        float: right;
        cursor: pointer;
        font-size: $font-size * 1.38;
      }
    }
    .content {
      padding-left: 30px;
      padding-right: 30px;
      @include clearfix;
      .image {
        float: left;
        width: calc(50% - 30px);
        margin-right: 30px;
        .uploadbtn {
          padding: 25px 45px;
          margin-bottom: 10px;
          background: #EBEBEB;
          text-align: center;
          color: #757575;
          font-weight: bold;
          cursor: pointer;
          i {
            font-size: $font-size * 3;
            margin-bottom: 10px;
          }
        }
        .upload {
          img {
            margin-bottom: 8px;
            vertical-align: top;
            &:nth-child(3n-1){
              margin-left: 7px;
              margin-right: 7px;
            }
          }
        }
      }
      .other {
        float: right;
        width: 50%;
        h4 {
          margin-top: 20px;
          margin-bottom: 8px;
          &:first-child {
            margin-top: 0;
          }
        }
        .name,
        .description {
          display: block;
          padding: 10px 16px;
          width: 100%;
          background: #FFFFFF;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
        }
        .description {
          height: 170px;
          margin-top: 8px;
          background: #FFFFFF;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
          resize: none;
        }
        .price {
          width: 90%;
          @include clearfix;
          label {
            float: left;
            width: 49%;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            background: #EBEBEB;
            padding-left: 8px;
            height: 35px;
            line-height: 35px;
            &:nth-child(2) {
              margin-left: 2%;
            }
          }
          input {
            float: right;
            width: 50%;
            border: none;
            background: #fff;
            text-align: right;
            padding: 7px 16px;
            border-radius: 0 4px 4px 0;
            &:focus {
              outline: none;
            }
          }
        }
        .specification {
          width: 100%;
          @include clearfix;
          label {
            float: left;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            background: #EBEBEB;
            padding-left: 8px;
            margin-bottom: 8px;
            height: 35px;
            line-height: 35px;
            &:nth-child(3n+1) {
              width: 29%;
            }
            &:nth-child(3n-1) {
              width: 31%;
              margin-left: 1%; 
              margin-right: 1%;
            }
            &:nth-child(3n) {
              width: 38%;
            }
          }
          input,
          select {
            float: right;
            width: 50%;
            border: none;
            background: #fff;
            text-align: right;
            padding: 7px 12px;
            border-radius: 0 4px 4px 0;
            &:focus {
              outline: none;
            }
          }
        }
        .new-label {
          margin-top: 8px;
          .addbtn {
            width: 100%;
          }
        }
        .save {
          margin-top: 30px;
          text-align: right;
          .savebtn {
            color: #757575;
            background: none;
            border: none;
            cursor: pointer;
            margin-right: 30px;
          }
        }
      }
    }
  }
}