@import "clearfix";
@import "reset";
@import "box-sizing";

$font-family: "Helvetica", "Microsoft JhengHei", sans-serif;
$font-size: 16px;

$bg-color: #F2F2F2;
$green: #7ED321;
$red: #D0021B;
$blue: #4A90E2;

$distancX: 42px;

body {
  font-family: $font-family;
  font-size: $font-size;
}

h1 {
  font-size: $font-size * 1.5;
}

h2 {
  font-size: $font-size * 1.5;
  font-weight: bold;
}

h3 {
  font-size: $font-size * 1.25;
  font-weight: bold;
}

.wrap {
  width: 100%;
  background: $bg-color;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  @include clearfix;
}

// 連結
.header {
  background: #000;
  color: #fff;
  @include clearfix;
  .logo {
    float: left;
    margin-left: $distancX;
    padding: 20px 0;
    font-weight: bold;
  }
  .menu {
    float: left;
    margin-left: 80px;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 18px;
      a {
        width: 80px;
        display: inline-block;
        color:#9B9B9B;
        font-weight: bold;
        padding: 25px 0;
        border-bottom: 4px solid transparent;
        &:hover,
        &.active {
          color: #fff;
          border-bottom: 4px solid #fff;
        }
      }
    }
  }
  .user {
    float: right;
    padding: 25px 0;
    margin-right: $distancX;
    font-weight: bold;
  }
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

// 總覽
.overview-title {
  height: 30px;
  line-height: 30px;
  @include clearfix;
  h2 {
    float: left;
    margin-left: $distancX;
  }
  .period {
    float: right;
    margin-right: $distancX;
    @include clearfix;
    span {
      color: #9B9B9B;
    }
    .date {
      float: left;
      margin-right: 20px;
      i {
        margin: 0 4px;
      }
    }
    .change {
      float: left;
      position: relative;
      cursor: pointer;
      i {
        margin-left: 4px;
      }
      &:hover {
        .change-period {
          display: block;
        }
      }
      .change-period {
        position: absolute;
        top: 100%;
        right: 0;
        color: #000000;
        background: #ffffff;
        box-shadow: 1px 2px 10px 0 #9B9B9B;
        border-radius: 2px;
        width: 125px;
        text-align: center;
        display: none;
        li {
          height: 35px;
          line-height: 35px;
          transition: all 0.3s;
          cursor: pointer;
          &:hover,
          &.active {
            color: #fff;
            background: #000000;
          }
        }
      }
    }
  }
}

// 收支 
.income {
  margin: 20px $distancX;
  text-align: center;
  li {
    display: inline-block;
    width: 32%;
    max-height: 138px;
    vertical-align: top;
    background: #fff;
    box-shadow: 0 0 10px 5px #EBEBEB;
    border-radius: 3px;
    padding: 30px 0;
    &:nth-child(2) {
      margin: 0 2%;
    }
    .title {
      i {
        margin-right: 8px;
        font-size: 20px;
      }
    }
    .amount {
      font-size: $font-size * 2.25;
      margin-top: 16px;
      font-weight: bold;
      &.one {
        color: $green
      }
      &.two {
        color: $red;
      }
      &.three {
        color: $blue;
      }
    }
  }
}

// 圖表
.activity {
  margin: 0 $distancX 20px $distancX;
  height: auto;
  padding: 30px 40px;
  background: #FFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px; 
}

// 平台
.website {
  float: left;
  margin-left: $distancX;
  width: 45%;
  height: 456px;
  margin-right: 0.4%;
  background: #FFFFFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
  .website-list {
    margin-top: 6px;
    li {
      border-bottom: 1px solid #EBEBEB;
      padding: 24px 0;
      &:last-child {
        border: none;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        &.site {
          color: #9B9B9B;
          width: 145px;
        }
        &.amount {
          font-weight: bold;
          text-align: right;
          width: 60px;
          font-size: $font-size * 1.25;
        }
        &.up {
          color: $green;
          width: 60px;
          margin-left: 16px;
          cursor: pointer;
        }
        &.down {
          color: $red;
          width: 60px;
          margin-left: 16px;
          cursor: pointer;
        }
      }
      i {
        display: inline-block;
        vertical-align: middle;
        &.big {
          font-size: $font-size * 2.5;
          width: 55px;
        }
      }
    }
  }
}

// 訂單
.latest {
  float: right;
  margin-right: $distancX;
  width: 45%;
  height: 456px;
  background: #FFFFFF;
  box-shadow: 0 0 10px 5px #EBEBEB;
  border-radius: 3px;
  padding: 30px 40px;
  .order-list {
    margin-top: 22px;
    li {
      position: relative;
      border-bottom: 1px solid #EBEBEB;
      padding: 8px 0;
      @include clearfix;
      &:last-child {
        border: none;
      }
      .pic {
        float: left;
        margin-right: 20px;
      }
      .info {
        float: left;
        h3 {
          margin-top: 10px;
        }
        span {
          display: block;
          margin: 8px 0;
          color: #9B9B9B;
          i {
            width: 16px;
            text-align: center;
          }
        }
      }
      .total {
        position: absolute;
        bottom: 30px;
        right: 0;
        font-size: 14px;
        text-align: right;
        line-height: 1.5;
        .amount {
          font-size: $font-size * 1.25;
          font-weight: bold;
        }
      }
    }
  }
}

// 新增商品

.prdocut {
  padding-top: 30px;
  padding-bottom: 30px;
}

.checkbox {
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    &:checked {
      + span {
        background: #000;
        i {
          display: inline-block;
          color: #fff;
        }
      }
    }
  }
  span {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 2px;
    text-align: center;
    i {
      display: none;
      font-size: 13px;
    }
  }
}

.product-top {
  margin: 0 $distancX;
  height: 35px;
  @include clearfix;
  .check-product {
    float: left;
    position: relative;
    margin-top: 17px;
    > i {
      position: absolute;
      top: -2px;
      right: -14px;
    }
  }
  .add-product {
    float: right;
    .addbtn {
      font-size: 14px;
      color: #FFFFFF;
      font-weight: bold;
      background: #000000;
      border: 1px solid #000000;
      border-radius: 4px;
      cursor: pointer;
      padding: 8px 16px;
    }
  }
}

.product-list {
  width: 94%;
  margin: 15px auto;
  border-radius: 2px;
  thead {
    background: #FFFFFF;
    font-weight: bold;
    text-align: left;
    tr {
      th {
        padding: 15px 20px;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(2n) {
          background: #EBEBEB;
        }
      td {
        padding: 20px;
      }
    }
  }
}

.table-product {
  position: relative;
  * {
    display: inline-block; 
    vertical-align: middle;
  }
  span {
    background: #ffffff;
    border: none;
  }
  .pic {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.table-groups {
  li {
    padding: 8px 0;
    line-height: 1.5;
    * {
      display: inline-block;
      vertical-align: top;
    }
    &:nth-child(2) {
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
    }
    .size {
      width: 90px;
    }
    .color {
      width: 100px;
    }
  }
}

.table-status {
  position: relative;
  .change {
    position: absolute;
    right: 0;
    bottom: 25px;
    height: 40px;
    &:hover {
      .change-status {
        display: block;
      }
    }
      .editbtn {
      font-size: 14px;
      font-weight: bold;
      padding: 8px 16px;
      color: #fff;
      background: $green;
      border: 1px solid $green;
      border-radius: 4px;
      cursor: pointer;
      &.un {
        background: #9B9B9B;
        border: 1px solid #9B9B9B;
      }
    }
    .change-status {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 11;
      color: #000000;
      background: #ffffff;
      box-shadow: 1px 2px 10px 0 #9B9B9B;
      border-radius: 2px;
      display: none;
      li {
        padding: 10px 16px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: #fff;
          background: #000000;
        }
      }
    }
  }
}